  *{transition: all .1s ease-in;}

  body{
    background-color: #2893CB;
    color: white;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  border: 10px solid #217CAC;
  margin: 0;
  }
   
  .title{
    margin: 9% 0 0 25%;
    font-size: 24px;
  }
 .ul{    
   list-style: none;
   font-size: 0; 
   padding: 0;
   width: 50%;
   border: 2px solid white;
   margin: 2% auto auto 25%;  

   }

 li{
   display: inline-block;
   font-size: 18px;
   border: 2px solid white;
   padding: 14px 0px 0 0px;
   width: 25%;
   box-sizing: border-box; 
 }
 li:nth-child(1){
   width: 50%;
   background-color: #2793CC;

  
 }

 li:nth-child(2){
    background-color: #24BDC8;
   
}
li:nth-child(3){
  
  background-color: #986F95;
}
li:nth-child(4){
  
  background-color: #C85442;
}
li:nth-child(5){
  
  background-color: #E57247;
}
li:nth-child(6){
  
  background-color: #FFCB5D;
}
li:nth-child(7){
  
  background-color: #93C395;
}
li:nth-child(8){
  
  background-color: #609394;
}
 li:nth-child(9){
   width: 50%;
   background-color: #CF7294;
 }
 li:nth-child(10){
  
  background-color: #288D65;
}
 li:nth-child(11){
  width: 100%;
  background-color: #636996;
}
span{
  display: block;
  text-align: center;
  line-height: 25px;
  padding-bottom: 11px;
  overflow-wrap: break-word;
}

.deg{
  opacity: 0.7;
line-height: 47px;
}
.bottom-text{
  font-size: 16px;
  margin: 2% 0% 5% 25%;
}

ul:hover li{
  opacity:0.5;
 
}

li:nth-child(odd):hover{
 opacity: 1;
 

}
li:nth-child(even):hover{
opacity: 1;


} 