body{
  font-family: 'Montserrat', sans-serif;
}
ul{
  display: flex;
  list-style: none;
  width: 100%;
  padding: 0;
  background-color: #f7f7f7;
  height: auto;
  margin:  0 auto;
}
footer{
  max-width: 940px;
  margin: 0 auto;
  margin-bottom: 15%;
}

li{
  color:black;
  text-align: center;
  font-family: 'PT Sans', sans-serif;
  font-size: 14px;
  display: block;
  font-weight: bold;
  height: auto;
  width: 25%;
}
li:hover span{
  color:white;
  }

li:hover,
.icone:hover{
  color:white;
  background-color: #0ec8cb;
  border-color:#0ec8cb;
}

div i{
  font-size: 65px;
  margin: 62px 0 62px auto;
  }

.text{
  font-family: 'Montserrat', sans-serif;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 21px;
  width: 89%;
  overflow-wrap: break-word;
  margin: 0 0 35px 10px; 
}
.far{
  margin-bottom: 55px;
}
span{
color: #888888;
 line-height: 22px;
 width: 80%;
 display: block;
 margin-left: 10%;
 padding-bottom: 34%;
}
header{
margin: 150px 0 0 0;
color: #898f99;
font-size: 12px;
text-transform: uppercase; ;
font-weight: bold;
text-align: center;
}
h1{
  font-size: 48px;
  text-transform: uppercase;
  color:#0ec8cb ;
  text-align: center;
  margin: 45px 0 45px 0
}
.mainer{
  color: #a7a7a7;
  font-size: 18px;
  text-align: center;
  text-transform: uppercase;
  font-family: 'PT Sans', sans-serif;
  margin: 0 32% 0 32%;
  line-height: 30px;
  margin-bottom: 98px;
}